{% extends "base.html" %}

{% load static %}

{% block title %}Catálogo de Libros{% endblock title %}   

{% block content %}
<div class="inicio-container">
    <h1 class="inicio-title">Catálogo Principal</h1>
    {% if libros %}
        <ul class="libros-list">
            {% for libro in libros %}
                <li class="libro-item">
                    <a class="libro-titulo" href="{% url 'catalogo:libro_detalle' slug=libro.slug %}">{{ libro.titulo }}</a>
                    <span class="libro-autor">escrito por 
                        <a class="autor-link" href="{% url 'catalogo:detalle_autor' pk=libro.autor.pk %}">{{ libro.autor }}</a>
                    </span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-libros">No hay libros disponibles en este momento.</p>
    {% endif %}
</div>
{% endblock content %}