{% extends "base.html" %}

{% load static %}

{% block title %}Lista de Autores{% endblock title %}

{% block content %}
<div class="lista-autores-container">
    <h1 class="lista-autores-titulo">Lista de Autores</h1>
    {% if autores %}
        <ul class="lista-autores-lista">
            {% for autor in autores %}
                <li>
                    <a href="{% url 'catalogo:detalle_autor' pk=autor.pk %}">{{ autor }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-autores">No hay autores disponibles en este momento.</p>
    {% endif %}
</div>
{% endblock content %}